section.banner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

section.banner img{
    width: 100%;
}


@media screen and (max-width:500px){

    section.banner{
        display: none;
    }

}